.container {
  width: 64%;
  padding: 40px 0;
  margin: auto;
}

.container h1 {
  font-weight: 800;
  margin-bottom: 20px;
}

ul {
  padding: 0;
  list-style-type: none;
}

.cart-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-index {
  font-size: 1.2em;
  font-weight: 700;
  color: #bcbcbc;
  margin: 0 40px 0 16px;
}
.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 16px 0;
  border-bottom: 3px solid #bcbcbc;
}

.last {
  border: 0;
}

.product-right,
.product-left {
  display: flex;
}

.product-left a {
  display: block;
  font-size: 1.5em;
  font-weight: 800;
  text-decoration: none;
}
.product-left a:hover {
  text-decoration: underline;
}

.product-right {
  align-items: center;
}

.product-right .price {
  margin-right: 16px;
  font-size: 1.25em;
  font-weight: 600;
}

.product .image {
  height: 112px;
  width: 80px;
  border-radius: 5px;
  transition: all 0.2s ease-out;
}
.product .image:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-out;
}

.bookInfo h2,
.bookInfo h4 {
  margin: 0;
}

.book {
  display: flex;
  padding: 8px 0;
  margin-left: 16px;
  flex-direction: column;
  justify-content: space-between;
}

.delete {
  margin-right: 32px;
  height: 32px;
}

.delete img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.cart-bottom {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.button_buy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 56px;
  margin-top: 20px;
  border-radius: 18px;
  background-color: #f6ae2c;
  font-size: 1.2rem;
  font-family: "Karla";
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.button_buy:hover {
  transition: all 0.2s ease-in-out;
  background-color: #f0a400;
}

.total {
  padding-top: 16px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  border-top: #bcbcbc 3px solid;
}
.total > h4 {
  margin: 0;
  font-size: 1.5em;
  font-weight: 700;
}

.total > h2 {
  margin: 0;

  font-size: 2em;
  font-weight: 800;
}
