.premier {
  height: calc(100vh - 64px);
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.Titre1 {
  position: relative;
  width: fit-content;
  font-weight: 800;
  padding-bottom: 4px;
}

main {
  width: 75%;
  margin: 64px auto 0 auto;
}

.Titre1::after {
  position: absolute;
  content: "";
  height: 4px;
  background-color: #f6ae2c;
  width: 100%;
  bottom: 0;
  left: 0;
  border-radius: 100px;
}

.Titre2 {
  position: relative;
  width: fit-content;
  padding-bottom: 4px;
}

.Titre2::after {
  position: absolute;
  content: "";
  height: 4px;
  background-color: #f6ae2c;
  width: 100%;
  bottom: 0;
  left: 0;
  border-radius: 100px;
}

.ER {
  font-size: 1.2em;
  font-weight: 800;
  display: flex;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.Don {
  display: flex;
  position: relative;
  width: fit-content;
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff !important;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.carte {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
}

.card-row {
  display: flex;
  width: 100%;
  column-gap: 16px;
  justify-content: space-between;
  margin-top: 16px;
  border-radius: 10px;
  border: 0;
}

.input {
  width: 100%;
  height: 32px;
  padding-left: 8px;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  border-radius: 10px;
  border: 0;
  box-shadow: 0 8px 35px rgba(0, 0, 0, 0.15);
}

.long_input {
  width: 100%;
  min-width: 300px;
}
.half_input {
  width: 50%;
  min-width: 150px;
}
.small_input {
  width: 25%;
  min-width: 125px;
}

.Don input {
  box-shadow: inherit !important;
  background-color: transparent;
}

.card-row2 {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.bouton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  border-radius: 20px;
  background-color: #ffb412;
  border: 0;
  font-family: "Karla", sans-serif;
  font-weight: 600;
  color: #fff;
  width: 160px;
  font-size: 1.1em;
  height: 48px;
  transition: all 0.2s ease;

  cursor: pointer;
}
.bouton:hover {
  background-color: #f0a400;
  transition: all 0.2s ease;
}
