.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 240px;
  box-sizing: border-box;
  padding: 40px 10%;
  font-size: 1.1rem;
  background-color: #ffb412;
  color: white;
  font-weight: 500;
}

.footer_left,
.footer_right {
  display: flex;
  width: fit-content;
  align-items: center;
  height: 100%;
}

.footer_right {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.footer_right nav a:first-child {
  margin-bottom: 8px;
}
.footer_right nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 32px;
}

.footer nav a:hover {
  text-decoration: underline;
}

footer .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2em;
  width: fit-content;
  height: 100%;
  margin: 0 40px 0 0;
}

.footer_nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer_nav li:not(:last-child) {
  margin-bottom: 12px;
}

.socials {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.socials a {
  display: flex;
}

.socials img {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 560px) {
  footer .logo {
    display: none;
  }
}
