.hero-container {
  position: fixed;
  top: 64px;
  z-index: -3;
  width: 100%;
}

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 64px);
}

.hero-video {
  width: 100%;
  height: calc(100vh - 64px);
  object-fit: cover;
  filter: brightness(0.7);
}

.hero-text {
  position: absolute;
  color: white;
}

.hero h1 {
  position: relative;
  width: fit-content;
  font-size: 3em;
  font-weight: 800;
}

.hero span {
  font-size: 1.1em;
}

.hero .title::after,
.hero .title2::after {
  position: absolute;
  bottom: -4px;
  border-radius: 100px;
  left: 0;
  content: "";
  width: 100%;
  height: 6px !important;
  background-color: #f6ae2c;
  animation: underline forwards 1s ease-in-out;
  animation-delay: 0.1s;
  opacity: 0;
}

.hero .title2::after {
  animation-delay: 0.2s;
  animation-duration: 1.5s;
  bottom: -6px;
}

@keyframes underline {
  0% {
    max-width: 0;
  }
  33% {
    opacity: 1;
  }
  100% {
    max-width: 100%;
    opacity: 1;
  }
}

.main {
  box-shadow: 0 -8px 80px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  margin-top: 100vh;
}

.main-content {
  background-color: white;
  min-height: 100vh;
  width: max(300px, 70%);
  padding: 160px 0;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 80px;
}

.content {
  flex: 1;
  min-width: 330px;
  max-width: 800px;
}

.section-title {
  margin-top: 0;
  font-size: 1.75em;
}

.illustration {
  width: 30%;
  margin-top: 40px;
  min-width: 330px;
  height: auto;
}

p {
  text-align: justify;
}

.separator {
  margin: 80px auto;
  width: 50%;
}

.founderRow {
  display: flex;
  flex-wrap: wrap;
  column-gap: 64px;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 80px;
  width: 100%;
}

.founderCard {
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin-bottom: 40px;
  box-sizing: border-box;
  height: auto;
  border-radius: 15px;
  transition: all 0.2s ease;
}
.founderCard:hover {
  background-color: white;
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

.card2 {
  /* transform: translateY(-56px); */
}

.founderCard img {
  width: 75%;
  height: 75%;
  border-radius: 50%;
}

.founderDescription {
  display: flex;
  flex-direction: column;
}

.founderDescription span {
  font-size: 1.1em;
  color: #888888;
}

.founderName {
  position: relative;
  width: fit-content;
  height: auto;
  font-weight: 800;
  font-size: 1.5em;
  margin-bottom: 8px;
  padding-bottom: 4px;
}

.founderName::after {
  content: "";
  position: absolute;
  border-radius: 100px;
  width: 100%;
  height: 3px;
  background-color: #f6ae2c;
  bottom: 0;
  left: 0;
}
